:host {
  .products-list {
    align-items: stretch;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    max-width: 800px;
    margin: 90px auto;

    .product-card {
      max-width: 400px;
    }
  }
}
