:host {
  .products-list {
    align-items: stretch;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    max-width: 1024px;
    margin: 90px auto 120px;

    .product-card {
      justify-content: space-between;
      max-width: 400px;

      .product-description {
        font-size: 16px;
        line-height: 120%;
      }

      .products-buttons {
        align-items: center;
        display: flex;
        gap: 8px;
      }
    }
  }
}
