:host {
  .products-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 800px;
    margin: 90px auto;

    .product {
      .product-img {
        max-width: 250px;
        border-radius: 16px;
      }

      .product-title {
        text-align: center;
      }

      .btn {
        transition: background-color 500ms ease-in-out;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
