@if (photos$) {
  <div class="products-list">
    @for (photo of photos$ | async; track photo) {
      <div class="product">
        <img class="product-img" [src]="photo.thumbnail" [alt]="photo.title">
        <div class="product-title">{{ photo.title }}</div>
        <button
          (click)="addToFav(photo, $event)"
          [disabled]="isFavorite(photo.id, favoriteIds$ | async)"
          class="add-to-fav-btn"
        >
          {{ isFavorite(photo.id, favoriteIds$ | async) ? 'Added' : 'Add to Cart' }}
        </button>
      </div>
    }
  </div>
}
