@if (photos) {
  <div class="photo-wrapper">
    @for (photo of photos | slice: 0: visibleImages; track photo) {
      <div class="photo">
        <figure>
          <img [src]="photo.thumbnailUrl" [alt]="" [title]="photo?.title">
        </figure>
        <button (click)="addToFav(photo, $event)" class="add-to-fav-btn">Add to Favorites</button>
      </div>
    }
  </div>
}
<div class="load-more-btn" (click)="increaseVisibleImagesByClick()" >
  <i class="fas fa-caret-down"></i>
  Load more
</div>
