:host {
  .products-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, 250px);
    max-width: 800px;
    margin: 90px auto;

    .product {
      position: relative;
      cursor: pointer;

      .product-img {
        max-width: 250px;
        border-radius: 16px;
      }

      .product-title {
        text-align: center;
      }

      .add-to-fav-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #121212;
        color: #fefefe;
        border-radius: 16px;
        border: none;
        outline: none;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: all 500ms ease-in-out;

        &:disabled {
          background-color: #909090;
          color: #dadada;
        }
      }

      &:hover {
        .add-to-fav-btn {
          height: 100%;
        }
      }
    }
  }
}
