:host {
  .products-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 800px;
    margin: 90px auto;
  }

  h4 {
    font-size: 20px;
    line-height: 160%;
    color: #909090;
    text-align: center;
    margin: 80px auto 0;
    width: 100%;
  }
}
