@if (productsInCart$ | async; as products) {
  @if (products.length) {
    <div class="products-list">
      @for (product of products; track product.id) {
        <mat-card class="product-card" appearance="outlined" routerLink="/product/{{ product.id }}">
          <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="product.thumbnail" [alt]="product.title">
          <mat-card-content>
            {{ product.description }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button (click)="removeProduct(product.id)" [routerLink]="'/products'" class="btn btn-danger">Remove</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  } @else {
    <div class="products-empty-state">Cart is empty!</div>
  }
}
