:host {
  .products-list {
    align-items: stretch;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    max-width: 1024px;
    margin: 90px auto;

    .product-card {
      justify-content: space-between;
      max-width: 400px;

      .product-description {
        font-size: 16px;
        line-height: 120%;
      }
    }
  }

  h4 {
    font-size: 20px;
    line-height: 160%;
    color: #909090;
    text-align: center;
    margin: 80px auto 0;
    width: 100%;
  }
}
